@model Dblp.WebUi.Models.StatusViewModel

@{
    ViewBag.Title = "Status";
}
<h2>Status</h2>
<div class="well">
    <ul class="list-group">
        @foreach (var element in @Model.Elements)
        {
            <li alt="@element.HoverText" class="list-group-item @(@element.SpecialMarker ? "list-group-item-danger":"")"><strong>@element.DisplayText: </strong><span class="badge">@element.Value</span></li>
        }
    </ul>
<span class="text-muted">Last updated: @Model.LastUpdated</span>
</div>
