@using System.Web.Optimization
@using Dblp.WebUi.Helpers
@{
    ViewBag.Title = "Durchsuchen der Dblp";
}

<h2 style="display: inline-block">Durchsuchen der DBLP</h2><img id="spinner" src="~/Content/spiffygif_30x30.gif" />
@using (Html.BeginForm("AddItem", "ShoppingCart"))
{
    @Html.InputWithGlyphicon()
    @Html.Hidden("dblpKey")
    <div id="summary" class="panel panel-primary">
        @Html.Partial("_AuthorKnockoutTable")
        @Html.Partial("_ConferenceKnockoutTable")
        @Html.Partial("_PublicationKnockoutTable")

    </div>
}

@section JavaScript
{
    @Scripts.Render("~/bundles/ko")
    <script type="text/javascript" src="@Url.Content("/Scripts/site.js")"></script>
}

